@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$panel-side: 100vw;
$btn-margin: 0px;
$btn-side: calc(#{$panel-side} / 5 - 2 * #{$btn-margin});
$font-size: calc(#{$btn-side} / 3);
$border-width: 1.5px;
$light-border: $border-width solid rgba(255, 255, 255, 0.2);
$dark-border: $border-width solid rgba(0, 0, 0, 0.4);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: $panel-side;
  height: 100vh;
  margin: auto;
  background-color: #333;
  display: flex;
  flex-direction: column;

  &__screen {
    background-color: black;
    flex: 1 1;
  }

  &__panels {
    flex: $panel-side 0 0;
    width: $panel-side;
    background-color: lightblue;
  }
}

.btn-panel {
  display: flex;
  flex-wrap: wrap;

  &__btn {
    width: $btn-side;
    height: $btn-side;
    margin: $btn-margin;
    border-top: $light-border;
    border-left: $light-border;
    border-bottom: $dark-border;
    border-right: $dark-border;
    cursor: pointer;

    p {
      font-size: $font-size;
      text-transform: uppercase;
      text-align: center;
      margin-top: calc(50% - 0.5em);
      user-select: none;
    }
  }

  &_first {
    background-color: orange;
  }

  &_second {
    display: none;
  }
}

.screen {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    &:focus {
      outline: none;
    }
  }

  &__expression {
    flex: 10px 1 1;
    font-size: 30px;
  }
  &__result {
    margin-top: 2px;
    border-top: 1px solid black;
    flex: 40px 0 0;
    font-size: 40px;
  }
}
